.celltable {
    margin: 20px;
    border-collapse: collapse;
    border: 1px solid #444;
}
.cell, .cellrow {
    margin: 0;
    padding: 0;
    border: 1px solid #444;
}

.cell {
    font-size: small;
    width: 32px;
    height: 32px;
    background-color: #000;
}

.cell.vivo {
    background-color: #0F0;
}